mixin banner(banner)
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            each item, index in banner
                li(class=`${index == 0 ? "active" : ""}` data-target='#carouselExampleIndicators' data-slide-to=`${index}`)
        .carousel-inner
            each item, index in banner
                div(class=`carousel-item ${index == 0 ? "active" : ""}`)
                    .banner-detail
                        h1=item.name
                        h1.title=item.title
                        ul.list-detail.mb-4
                            each i in item.detail
                                li.list-detail__item.mt-2
                                    i.far.fa-check-circle.mr-2
                                    span=i
                        +button("Mua ngay", "yellow")
                    img.d-block.w-100(src=item.image alt='First slide')

mixin brand(brandList, sizeItem)
    #carouselExampleSlidesOnly.carousel.slide.banner.brand-image(data-ride='carousel')
        .carousel-inner.w-100
            - for(var i = 0; i < brandList.length; i+=sizeItem)
                - var carousel = brandList.slice(i, i+sizeItem)
                    div(class=`carousel-item h-100 ${i==0 ? "active" : ""}`)
                        .row.flex-nowrap.justify-content-around.logo
                            each item, index in carousel 
                                li.brand-item
                                    img(src=item, alt="") 



